.card-forecast {
  background-color: teal;
  background-image: url(../img/w-forecast-bg.jpg);
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  min-width: 200px;
  color: #ffffff;
  text-align: center;
}
