.card-forecast {
  background-color: teal;
  background-image: url(../img/w-forecast-bg.jpg);
  background-position: center;
  width: fit-content;
  padding: 15px 0px;
  min-width: 200px;
  color: #ffffff;
  text-align: center;
  line-height: 3rem;
  transition: 0.5s;
}

.card-forecast > a {
  color: #ffffff;
}

.card-forecast > a:hover {
  color: #ffffff;
}

.card-forecast .f-loc {
  font-size: 1.2rem;
}

.card-forecast .f-temp {
  font-size: 2.5rem;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ed7b01;
}
